/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    text-decoration: none;
}

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

.hide {
    opacity: 0;
}


/* STRUCTURE */
body {
    opacity: 0;
    margin-top: 10px;
    min-width: 100% !important;
    background: #fcfcfc;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 22.4px;
    color: #888;
}

#container {
    width: 1366px;
    margin: 0 auto;
    padding: 0 80px;    /* side margins */
    display: none;
}

header {
    padding: 44px 0 80px;
    display: block;
    position: relative;
    z-index: 0;
}

footer {
    background: url(../media/bg-footer.svg) no-repeat center bottom;
    background-size: contain;
}


/* HOMEPAGE */

#yolk-container {
    margin-top: 8%;
    display: flex;
    align-items: center;
    height: 380px;
}

#yolk-intro, #yolk-quote {
    margin-left: 8%;
}

#yolk-quote {
    display: none;
}

#yolk {
    justify-content: center;
}

#init-yolk, #end-yolk img {
    max-height: 20vw;
}

#end-yolk {
    display: none;
    cursor: pointer;
}

#end-yolk:hover {
    border: 0;
}

#happy-yolk {
    max-height: 15vw !important;
}

#alright-yolk {
    max-height: 18vw !important;
}

#tapMe {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f2667a;
    display: block;
    margin: 20px auto 0;
    width: 160px;
    opacity: 1;
    transition: 0.5s ease;
}

#tapMe.pre-tap {
    opacity: 0;
}

#share-button {
    background: linear-gradient(to right, #F2667A,#FF8C64);
    color: #fff;
    border: 0;
    border: 1px solid #F2667A;
}

#share-options  {
    position: absolute;
    display: none;
    margin-top: 20px;
}

#welcome, #did-you-know, #exhibit-intro {
    display: none;
    opacity: 0;
}

.case-section {
    display: flex;
    align-items: center;
}


/* CARDS & MODALS */

.grid { /* story grid */
    columns: 3;
    column-gap: 24px;
    box-sizing: border-box;
}

#stories {
    opacity: 0;
}

.story {
    padding: 30px;
    margin-bottom: 24px;
    display: inline-block;
    width: 100%;
    box-shadow: 0px 0px 8px rgba(90, 153, 246, .35);
}

.story-content span {
    font-size: 12px;
    text-transform: uppercase;
}

#info-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    min-width: 345px;
    height: 355px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin: 0 10px 30px;
    box-shadow: none;
}

.story, .card {
    border-radius: 10px;
    background: #fff;
}

.card .icon {
    position: absolute;
    max-width: 160px;
    max-height: 160px;
    margin-top: 70px;
}

.card span {
    color: #fff;
    font-size: 18px;
    align-self: flex-end;
    margin-bottom: 40px;
}

#card-butterfly {
    background: #FF8C64 !important;
    transition: ease 0.3s !important;
}

#card-butterfly:hover {
    transform: translateY(-20px);
    box-shadow: 0px 6px 24px rgba(255, 140, 100, 0.35);
}

#card-lollipop {
    background: #977BDC !important;
    transition: ease 0.3s !important;
}

#card-lollipop:hover {
    transform: translateY(-20px);
    box-shadow: 0px 6px 24px rgba(151, 123, 220, 0.35);
}

#card-interrupt {
    background: #5A99F6 !important;
    transition: ease 0.3s !important;
}

#card-interrupt:hover {
    transform: translateY(-20px);
    box-shadow: 0px 6px 24px rgba(90, 153, 246, .35);
}

.remodal.orange-theme {
    background: url(../media/bg-orange.png) no-repeat bottom center;
    background-size: cover;
}

.remodal.purple-theme {
    background: url(../media/bg-purple.png) no-repeat bottom center;
    background-size: cover;
}

.remodal.purple-theme h1 {
    color: #977bdc;
}

.remodal.blue-theme {
    background: url(../media/bg-blue.png) no-repeat bottom center;
    background-size: cover;
}

.remodal.blue-theme h1 {
    color: #5a99f6;
}


/* NAVIGATION */
#logo {
    height: 100px;
    position: absolute;
    z-index: 3;
    pointer-events: auto;
}

nav {
    position: absolute;
    width: 100%;
    height: auto;
    text-align: right;
}

nav ul {
    opacity: 1;
    margin-top: 10px;
    transition: 0.5s ease;
}

.pre-nav {
    opacity: 0;
    margin-top: -40px;
}

#navStories {
    width: 122px;
}

#navTeam {
    width: 115px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    text-align: left;
}

nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    color: #888 !important;
    z-index: 5;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    border: 0 !important;
}

nav ul li a::first-line {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color: #888 !important;
}

nav ul li a:hover {
    color: #333 !important;
    border: 0 !important;
}

nav ul li a::after {
    content: ' ';
    display: block;
    height: 2px;
    margin-top: 5px;
    width: 0;
    transition: 0.2s ease;
}

nav ul li a:hover::after {
    width: 100%;
    background-color: #F2667A;
}

nav ul li a.current {
    color: #F2667A !important;
}

nav ul li a.current::after {
    width: 100%;
    background-color: #f2667a;
}


/* INFO CONTAINERS */
.info-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.info-content {
    margin-bottom: 40px;
}

#apps .info-content, #books .info-content {
    width: 50%;
}

#info-talks .info-content {
    max-width: 330px;
    height: 460px;
}

.side-desc {
    display: inline-block;
}

.side-img, .side-desc {
    width: 48%;
}



/* PAGE ELEMENTS */
blockquote {
    font-family: "Comfortaa", sans-serif;
    font-size: 36px;
    line-height: 48px;
}

#yolk-intro h2, #quoteHeading {
    color: #888;
}

#yolk-intro blockquote, #quoteContent {
    color: #ff8c64;
}

#quoteAttr {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: right;
    margin-top: 28px;
    color: #888;
}

#quoteAttr::before {
    content: "— ";
    color: #ddd;
}

h1 {
    color: #ff8c64;
    font-family: "Comfortaa", sans-serif;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 48px;
}

footer h1 {
    font-weight: 700;
}

footer h1::first-line {
    font-weight: 300;
}

h2 {
    color: #5a99f6;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 34px;
}

#team h2 {
    margin-bottom: 10px;
}

#case-statements h2 {
    font-weight: 400;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.share-link {
    cursor: pointer;
    color: #F2667A;
    font-size: 24px;
    margin: 0 10px;
    transition: 0.2s ease;
}

.share-link:hover {
    color: #fbcd63;
}

a:link, a:visited, a:active {
    color: #F2667A;
    border-bottom: 1px solid rgba(251, 205, 99, 0);
    transition: 0.3s ease;
}

a:hover {
    border-bottom: 1px solid rgba(251, 205, 99, 1);
}

.button {
    display: inline-block;
    border-radius: 30px;
    border: 1px solid #F2667A !important;
    background: none;
    color: #F2667A;
    padding: 16px 24px;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 10px;
    box-shadow: none;
    transition: 0.3s ease !important;
}

.button:hover {
    background: linear-gradient(to right, #F2667A,#FF8C64);
    color: #fff;
    box-shadow: 0px 0px 10px rgba(242, 102, 122, 0.8);
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

ul li {
    margin-bottom: 20px;
}

.social {
    max-height: 30px;
    margin: 0 20px 15px 0;
}

.info-icon {
    max-width: 190px;
    border-radius: 35px;
}

.ted-screen {
    max-width: 330px;
    margin-bottom: 10px;
}

.book-icon {
    max-width: 190px;
    border-radius: 5px;
}

.info-icon, .ted-screen, .book-icon {
    margin-right: 40px;
    box-shadow: 0px 0px 20px rgba(10, 10, 10, .05);
}

footer li {
    margin-bottom: 5px;
}

#rit-logos {
    display: flex;
    align-items: center;
    justify-content: center;
}

#sponsors img {
    margin-bottom: 20px;
}

.school-logo {
    max-width: 100px;
    max-height: 40px;
    margin-right: 25px;
    opacity: .3;
    transition: 0.3s ease;
}

.school-logo:hover {
    opacity: 1;
}

.big-logo {
    max-width: 240px;
    max-height: 80px;
    margin-right: 40px;
}

ul#thank-people {
    column-count: 3;
    column-gap: 8.66666666667%;
}

span.attr {
    color: #888;
}

a.noHover {
    border: 0;
}

a.noHover:hover {
    border: 0;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

video {
  width: 100% !important;
  height: auto !important;
}