/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    text-decoration: none;
}

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

.hide {
    opacity: 0;
}


/* STRUCTURE */
body {
    background: #fcfcfc;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 22.4px;
    color: #232323;
}

#container {
    width: 1366px;
    margin: 0 auto;
    padding: 0 80px;    /* side margins */
}

header {
    padding: 44px 0 80px;
    display: block;
    position: relative;
}


/* HOMEPAGE */

#yolk-container {
    display: flex;
    align-items: center;
    height: 340px;
}

#yolk-quote {
    display: none;
}

#yolk {
    justify-content: center;
}

#share-options  {
    position: absolute;
    display: none;
    margin-top: 20px;
}

#did-you-know, #exhibit-intro {
    display: none;
    opacity: 0;
}


/* NAVIGATION */
#logo {
    width: 90px;
    position: absolute;
    z-index: 5;
}

nav {
    position: absolute;
    width: 100%;
    height: auto;
    text-align: right;
    opacity: 1;
    margin-top: 0;
    transition: background-image 0.2s ease, opacity 0.5s ease, margin-top 0.5s ease;
}

nav.pre-nav {
    opacity: 0;
    margin-top: -40px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    text-align: left;
}

nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    color: #333;
    z-index: 5;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

nav ul li a::first-line {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
}

nav ul li a:hover {
    color: #333;
}

nav ul li a::after {
    content: ' ';
    display: block;
    height: 2px;
    margin-top: 5px;
    width: 0;
    transition: width 0.2s ease, background-color 0.2s ease;
}

nav ul li a:hover::after {
    width: 100%;
    background-color: #f2667a;
}

nav ul li a.current::after {
    width: 100%;
    background-color: #f2667a;
}


/* PAGE ELEMENTS */
blockquote {
    font-family: "Comfortaa", sans-serif;
    font-size: 36px;
    line-height: 48px;
}

blockquote .attr {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: right;
    margin-top: 28px;
    color: #888;
}

blockquote .attr::before {
    content: "— ";
    color: #ddd;
}

h1 {
    font-family: "Comfortaa", sans-serif;
    font-size: 36px;
    margin-bottom: 30px;
    line-height: 48px;
}

footer h1 {
    font-weight: 700;
}

footer h1::first-line {
    font-weight: 300;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.share-link {
    cursor: pointer;
}

a:link, a:visited, a:active {
    
}

a:hover {
    
}

.button {
    display: inline-block;
    border-radius: 30px;
    border: 1px solid #232323;
    padding: 16px 24px;
    cursor: pointer;
    margin-right: 15px;
}

.grid { /* story grid */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-auto-rows: 58px;
}

.story {
    padding: 30px;
}

.story-content span {
    font-size: 12px;
}

#info-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    min-width: 350px;
    height: 360px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin: 0 10px 15px;
    transition: margin-top ease 0.3s, box-shadow ease 0.3s;
    box-shadow: none;
}

.story, .card {
    border-radius: 10px;
    border: 1px solid #5a99f6;
    background: #fff;
}

.card:hover {
    margin-top: -20px;
    box-shadow: 0px 4px 10px rgba(90, 153, 246, .35);
}

.card .icon {
    position: absolute;
    max-width: 160px;
    max-height: 160px;
    margin-top: 70px;
}

.card span {
    font-size: 18px;
    align-self: flex-end;
    margin-bottom: 40px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

.social {
    max-height: 30px;
    margin: 0 20px 0 0;
}

.info-icon {
    max-width: 190px;
    margin-right: 40px;
    border-radius: 35px;
    box-shadow: 0px 0px 20px rgba(10, 10, 10, .05);
}

.ted-screen {
    max-width: 330px;
}

ul li {
    margin-bottom: 20px;
}

footer li {
    margin-bottom: 5px;
}