.hidden {
    visibility: none;
    position: absolute;
    bottom: -99999999px;
}

/* TEAM */

#team-members {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*
#team-members {
    -moz-column-count: 3;
    -moz-column-gap: 8.66666666667%;
    -webkit-column-count: 3;
    -webkit-column-gap: 8.66666666667%;
    column-count: 3;
    column-gap: 8.66666666667%;
}
*/

#team-group-photo {
    height: 50vw;
    background-image: url(../media/team/Team.jpg);
    background-size: cover;
    background-position: right;
    transition: all 0.3s ease;
    cursor: crosshair;
}

#team-group-photo:hover {
    background-image: url(../media/team/Team-funny.jpg);
    background-position: center;
}

.member {
    width: 240px;
    height: 640px;
    margin: 0 20px;
}

.yolk-folk {
    max-width: 100%;
    height: 360px;
    overflow: none;
    background: #eee;
    background-size: cover;
    box-shadow: 0px 0px 40px rgba(90, 153, 246, 0.1);
}

.ethelia {
    background-image: url(../media/team/Ethelia.jpg);
    transition: all 0.3s ease;
}

.ethelia:hover {
    background-image: url(../media/team/Ethelia-colour.jpg);
}

.sara {
    background-image: url(../media/team/Sara.jpg);
    transition: all 0.3s ease;
}

.sara:hover {
    background-image: url(../media/team/Sara-colour.jpg);
}

.alexis {
    background-image: url(../media/team/Alexis.jpg);
    transition: all 0.3s ease;
}

.alexis:hover {
    background-image: url(../media/team/Alexis-colour.jpg);
}

.matt {
    background-image: url(../media/team/Matt.jpg);
    transition: all 0.3s ease;
}

.matt:hover {
    background-image: url(../media/team/Matt-colour.jpg);
}

.jialing {
    background-image: url(../media/team/Jialing.jpg);
    transition: all 0.3s ease;
}

.jialing:hover {
    background-image: url(../media/team/Jialing-colour.JPG);
}

.ashley {
    background-image: url(../media/team/Ashley.png);
    transition: all 0.3s ease;
}

/*
.ashley:hover {
    background-image: url(../media/team/ashley-hover.jpg);
}
*/

.natalie {
    background-image: url(../media/team/Natalie.jpg);
    transition: all 0.3s ease;
}

.natalie:hover {
    background-image: url(../media/team/Natalie-colour.jpg);
}

.morgan {
    background-image: url(../media/team/Morgan.jpg);
    transition: all 0.3s ease;
}

.morgan:hover {
    background-image: url(../media/team/Morgan-colour.jpg);
}

.celina {
    background-image: url(../media/team/Celina.png);
    transition: all 0.3s ease;
}

.celina:hover {
    background-image: url(../media/team/Celina-colour.jpg);
}
