/* TEAM */

#team-members {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*
#team-members {
    -moz-column-count: 3;
    -moz-column-gap: 8.66666666667%;
    -webkit-column-count: 3;
    -webkit-column-gap: 8.66666666667%;
    column-count: 3;
    column-gap: 8.66666666667%;
}
*/

.member {
    width: 240px;
    height: 480px;
    margin: 0 20px;
}

.yolk-folk {
    max-width: 100%;
    height: 240px;
    overflow: none;
    background: #eee;
    background-size: cover;
}

.ethelia {
    background-image: url(../media/team/ethelia.jpg);
}
/*
.ethelia:hover {
    background-image: url(../media/team/ethelia-hover.jpg);
}
*/

.sara {
    background-image: url(../media/team/sara.jpg);
    background-position: center;
}
/*
.sara:hover {
    background-image: url(../media/team/sara-hover.jpg);
}
*/

.alexis {
    background-image: url(../media/team/alexis.jpg);
    background-position: center;
}
/*
.alexis:hover {
    background-image: url(../media/team/alexis-hover.jpg);
}
*/

.matt {
    background-image: url(../media/team/matt.jpg);
}
/*
.matt:hover {
    background-image: url(../media/team/matt-hover.jpg);
}
*/

.jialing {
    background-image: url(../media/team/jialing.jpg);
}
/*
.jialing:hover {
    background-image: url(../media/team/jialing-hover.jpg);
}
*/

.ashley {
    background-image: url(../media/team/ashley.jpg);
}
/*
.ashley:hover {
    background-image: url(../media/team/ashley-hover.jpg);
}
*/

.natalie {
    background-image: url(../media/team/natalie.jpg);
    background-position: bottom center;
}
/*
.natalie:hover {
    background-image: url(../media/team/natalie-hover.jpg);
}
*/

.morgan {
    background-image: url(../media/team/morgan.jpg);
    background-position: center;
}
/*
.morgan:hover {
    background-image: url(../media/team/morgan-hover.jpg);
}
*/

.celina {
    background-image: url(../media/team/celina.jpg);
}
/*
.celina:hover {
    background-image: url(../media/team/celina-hover.jpg);
}
*/