/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    text-decoration: none;
}


/* STRUCTURE */
body {
    background: #f0f0f0;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: #232323;
}


/* NAVIGATION */
nav {
    
}

nav ul {
    
}

nav li {
    
}

nav li a {
    
}


/* PAGE ELEMENTS */
#quote {
    
}

h1 {
    
}

h2 {
    
}

.button {
    display: inline-block;
    border-radius: 30px;
    border: 1px solid #232323;
    padding: 16px 24px;
    margin: 20px;
}