body {
    width: 100%;
    margin: 0%;
    display: inline;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 22.4px;
}
.main {
    background-image: url("emailentry-01.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.main main {
    width: 55%;
    margin: 100px 0 0 auto;
}
.terms main {
    width: 70%;
    margin-top: 100px;
    margin-left: 10%;
}
.confirm main {
    width: 70%;
    text-align: center;
    margin: auto;
}
.confirm {
    background-image: url("emailentry-03.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 25%;
}
.terms {
    background-image: url("emailentry-02.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.bottom {
    margin-top: 30px;
}
.box2 {
    margin-top: 60%;
}
.box2 p {
    width: 80%;
    margin: 0 auto;
}

/*

h1 {
	font-family: 'Comfortaa', sans-serif;
	font-size: 36px; 
	color: #ff8c64;
}

h2 {
	font-family: 'Karla Bold', sans-serif;
	font-size: 24px;
	color: #ff8c64;
	width: 75%;
}
*/

p {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #ff8c64;
    width: 70%;
}
/*
#specialtext {
    margin-left: 20%;
}
*/
::placeholder {
    color: #5A99fe;
}

/*

button {

	display: inline-block;
	border-radius: 30px;
	border: 1px solid #F2667A;
	background: #FFFFFF;
	color: #F2667A;
	padding: 16px 24px;
	cursor: pointer;
	margin-right: 15px;
	margin-bottom: 10px;
	box-shadow: none;
	transition: background 0.2s ease, color 0.3s ease, box-shadow 0.3s ease;

}
*/

button {
    font-family: Karla, sans-serif;
    font-size: 16px;
    line-height: 22.4px;
    background: rgba(255, 255, 255, 0.5);
}
a {
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    color: #F2667A;
}
a:hover {
    color: #5A99fe;
}

/*

button:hover {
	background: linear-gradient(to right, #F2667A, #FF8C64);
	color: #FFFFFF;
}
*/

input {
    font-family: Karla, sans-serif;
    font-size: 16px;
    line-height: 22.4px;
    display: inline-block;
    border-radius: 30px;
    border: 1px solid #5A99fe;
    background: rgba(255, 255, 255, 0.5);
    color: #5a99fe;
    padding: 16px 24px;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 10px;
    box-shadow: none;
    cursor: text;
    width: 60%;
}
